<section id="contact">
  <div class="container contact-section">
    <div class="contact-info">
      <div class="contact-details">
        <h2>Agendar consulta</h2>
        <p>
          Si desea programar una cita, puede encontrarnos en la dirección a continuación o reserva
          tu cita por medio de Whatsapp.
        </p>
      </div>
      <iframe
        [src]="mapsUrl"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación del consultorio"
      ></iframe>
    </div>
  </div>
</section>
