<section id="about">
  <h2>Sobre la empresa</h2>
  <h3>Quienes somos</h3>
  <div class="container">
    <div class="section-about">
      <div class="desc-side">
        <p>
          En nuestro consultorio psicológico, estamos dedicados a proporcionar un apoyo integral y
          personalizado a individuos, parejas y familias, ayudándolos a superar sus desafíos y
          alcanzar su bienestar emocional. Bajo la dirección de la Dra. Mónica Chamorro, quien
          cuenta con un Máster en Constelaciones Familiares y Terapia Sistémica, nuestro enfoque se
          centra en crear un espacio seguro y acogedor donde cada paciente pueda explorar y resolver
          sus problemas de manera efectiva.
        </p>
        <button class="btn btn-about">
          <a [href]="whatsappUrl">Reserva tu cita</a>
        </button>
      </div>
      <div class="img-side">
        <img src="imagens/DiplomaMaster.jpg" alt="Diploma de Máster en Constelaciones Familiares" />
      </div>
    </div>
  </div>
</section>
