<header>
  <div class="container">
    <div class="menu">
      <div class="logo">
        <img src="imagens/SimboloPsicologia.png" alt="Logo Psicología" />
      </div>
      <span class="company-name">Terapia Individual Y Familiar</span>

      <nav class="menu-main" [class.show]="menuOpen()">
        <ul>
          @for (item of navItems; track item.href) {
            <li>
              <a [href]="item.href" (click)="menuOpen.set(false)">{{ item.label }}</a>
            </li>
          }
        </ul>
        <div id="hamburger" (click)="toggleMenu()" [class.show]="menuOpen()">
          <img src="imagens/close-icon.png" alt="Cerrar menú" class="icon-close" />
          <img src="imagens/hamburguer.png" alt="Abrir menú" class="icon-open" />
        </div>
      </nav>
    </div>
  </div>
</header>
