<section id="comments-instructions">
  <div class="instructions-container">
    <h2 class="instructions-title">No olvides dejar tu comentario.</h2>
    <p>
      ¡Nos encantaría conocer tu opinión! para comentar en nuestra página, inicia sesión con tu
      cuenta de GitHub en el panel de comentarios de abajo y comparte tu experiencia.
    </p>
    <p>Indicaciones de como hacerlo:</p>
    <p>
      1. Encuentra la sección de comentarios: Desplázate hacia abajo hasta la sección de
      comentarios, escribe tu mensaje en el recuadro "Leave a comment".
    </p>
    <p>
      <strong>2. Inicia sesión con GitHub:</strong> Si aún no has iniciado sesión, haz clic en "Sign
      in to GitHub" para autenticarte. Tu cuenta estará a salvo.
    </p>
    <p>
      3. Publica tu comentario: Una vez autenticado, haz clic en el botón "Comment" para enviar tu
      comentario.
    </p>
  </div>

  <div id="comments-section">
    <div id="giscus"></div>
  </div>
</section>
